@import 'search_box.scss';
@import 'responsive.scss';
@import 'variables.scss';

.actions-bar {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

h1.option-title {
  position: relative;
  font-size: 1.1em;
  margin: 0.7em 0 0.25em 0;

  &::before {
    content: '';
    position: absolute;
    top: -4px;

    width: 50%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
  }
}

.options_sorters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;

  padding: 0.25em 0.25em 0 0;
}

.options_filter-sections section {
  margin: 0.5em 0;
}

.options_filters {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5em;
  margin: 0.25em 0;
}

.sort-option,
.filter-option {
  padding: 0.25em 0.5em;
}

.sort-option[data-selected='true'] {
  color: $accentCol;
}

.filter-option {
  &#abandoned {
    color: salmon;
  }

  &#fulfilled {
    color: lightgreen;
  }

  &#active {
    color: lightblue;
  }
}

.search_content {
  .search {
    margin: 0.5em auto;
  }

  .search-box {
    .search-exit {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 0;
    }
  }
}

.options_actions {
  display: flex;
  gap: 0.5em;
  width: 100%;
  margin-top: 1em;

  button {
    width: 100%;
  }
}

@include smallScreen() {
  h1 {
    text-align: center;

    &::before {
      width: 75%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .options_filters,
  .options_sorters {
    justify-content: center;
  }

  .filter-section {
    text-align: center;
  }
}
