@import 'responsive.scss';
@import 'variables.scss';
@import 'search_box.scss';

.filters-options {
  margin-bottom: 0.5em;
}

.actions-bar {
  display: flex;
  gap: 0.5em;
}

.filter-button .active-indicator {
  width: 7px;
  height: 7px;
  background-color: lightgreen;
  border-radius: 50%;

  margin-left: 10px;
}

h1.option-title {
  position: relative;
  font-size: 1.1em;
  margin: 0.7em 0 0.25em 0;

  &::before {
    content: '';
    position: absolute;
    top: -4px;

    width: 50%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
  }
}

.options-anim {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(10px);
  }

  &-enter-active,
  &-leave-active {
    transition: all 150ms ease;
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 10;
}

.options_wrapper {
  position: absolute;

  background-color: $bgCol;
  box-shadow: 0 5px 10px 2px #0f0f0f;

  width: 97%;
  max-width: 550px;

  padding: 1em;
  z-index: 100;
}

.options_sorters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;

  padding: 0.25em 0.25em 0 0;
}

.options_filters {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5em;
  margin: 0.5em 0 0 0;
}

.sort-option,
.filter-option {
  padding: 0.25em 0.5em;
}

.sort-option[data-selected='true'] {
  color: $accentCol;
}

.filter-option {
  &#abandoned {
    color: salmon;
  }

  &#fulfilled {
    color: lightgreen;
  }

  &#active {
    color: lightblue;
  }
}

.search_content {
  .search {
    margin: 0.5em auto;
  }

  .search_actions {
    display: flex;
    gap: 0.5em;
    margin: 1em 0;
    width: 100%;

    button {
      width: 100%;
    }
  }

  .search-box {
    .search-exit {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 0;
    }
  }
}

@include smallScreen() {
  h1 {
    text-align: center;

    &::before {
      width: 75%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .options_wrapper {
    font-size: 1.1em;
    max-width: 100%;
  }

  .options_filters,
  .options_sorters {
    justify-content: center;
  }
}
