html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  // font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;

  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;

  &-track {
    background: #222;
  }

  &-thumb {
    border-radius: 1rem;
    background: #777;
  }
}


.g-tooltip {
  position: relative;

  z-index: 10;

  .content {
    position: absolute;
    left: 50%;
    top: 0;

    transform: translate(-50%, -120%);

    z-index: 10;
    visibility: hidden;
    opacity: 0;

    min-width: 150px;

    background-color: var(--clr-accent);
    text-align: center;
    
    padding: 0.15em;
    border-radius: .5em;

    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--clr-accent) transparent transparent transparent;
    }

    @include smallScreen() {
      right: 0;
      left: 0;

      &::after {
        left: 75%;
      }
    }
  }

  &:hover > .content {
    // @include smallScreen() {
    //   display: none;
    // }

    visibility: visible;
    opacity: 1;
  }
}


button,
input,
select {
  // font-family: "Open Sans", sans-serif;
  border: none;
  font-family: "Quicksand", sans-serif;
}

input {
  border: 1px solid white;
  background: none;
  color: white;
  font-size: 1em;

  padding: 0.15em;

  max-width: 55px;
  outline: none;

  &::placeholder {
    color: #bebebe;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: transparent;
}

.default-station {
  font-weight: bold;
  color: $accentCol;
}


.title {
  color: $accentCol;
  font-weight: 600;

  padding: .35em 0;

}

a {
  display: inline-block;
  
  color: white;
  text-decoration: none;

  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $accentCol;
    border: none;
    outline: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  &-spaced {
    justify-content: space-between;
  }

  &-column {
    flex-direction: column;
  }
}