html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  // font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;

  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;

  &-track {
    background: #222;
  }

  &-thumb {
    border-radius: 1rem;
    background: #777;
  }
}


.tooltip {
  position: relative;

  background-color: var(--clr-accent);
  padding: .1em .5em;
  border-radius: 1em;


  display: flex;
  justify-content: center;
  align-items: center;

  & > &-text {
    display: inline-block;
    width: 150px;


    font-size: 0.9em;

    background-color: var(--clr-accent);

    padding: .15em .5em;
    border-radius: 1em;
    
    display: inline-block;
    max-width: 150px;
    
    text-align: center;
    color: #fff;
    
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;

    left: 50%;
    transform: translate(-50%, calc(-100% - 1rem));

    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--clr-accent) transparent transparent transparent;
    }
  }

  &:hover > &-text {
    @include smallScreen() {
      display: none;
    }

    visibility: visible;
    opacity: 1;
  }
}


button,
input,
select {
  // font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}

input {
  border: 1px solid white;
  background: none;
  color: white;
  font-size: 1em;

  padding: 0.15em;
  margin: 0.2em;

  max-width: 55px;
  outline: none;

  &::placeholder {
    color: #bebebe;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: transparent;
}

.default-station {
  font-weight: bold;
  color: $accentCol;
}


.title {
  color: $accentCol;
  font-weight: 600;

  padding: .35em 0;

}

.button {
  display: flex;
  align-items: center;

  background: #333;
  border: none;

  color: #bdbdbd;

  font-size: 1em;

  outline: none;
  padding: 0.35em 0.5em;
  cursor: pointer;

  transition: all 0.3s;

  &.open {
    color: $accentCol;
    border: none;
  }

  &:hover {
    background: #5c5c5c;
  }
}

a {
  color: white;
  text-decoration: none;

  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $accentCol;
    border: none;
    outline: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  &-spaced {
    justify-content: space-between;
  }

  &-column {
    flex-direction: column;
  }
}