@import 'responsive.scss';
@import 'animations.scss';

.list_wrapper {
  overflow-y: auto;
  height: 90vh;
  min-height: 550px;

  padding-right: 0.2em;
}

.journal_wrapper {
  max-width: 1350px;
  width: 100%;

  margin: 0 auto;

  padding: 1em 0;
}

.journal_refreshed-date {
  background-color: #333;
  color: #ddd;
  text-align: end;

  padding: 0.25em;
  margin: 0.5em 0;
}

.journal_warning {
  text-align: center;
  font-size: 1.3em;

  &.error {
    background-color: var(--clr-error);
  }
}

.journal_item {
  cursor: pointer;
}

.journal_item,
.journal_warning {
  background-color: #1a1a1a;
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.journal_top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;

  position: relative;
  margin-bottom: 0.5em;
}

.btn--load-data {
  padding: 0.5em 1em;
  display: flex;
  margin: 0 auto;

  font-size: 1.2em;
}

@include smallScreen() {
  .journal_top-bar {
    justify-content: center;
    flex-wrap: wrap;
  }

  .journal_refreshed-date {
    text-align: center;
  }
}
