@import 'variables.scss';
@import 'responsive.scss';

.stats-tab {
  position: absolute;
  right: 0;
  z-index: 99;

  transform: translateY(1em);

  width: 100%;

  background-color: #1a1a1a;
  box-shadow: 0 0 5px 1px $accentCol;

  padding: 1em;
  display: flex;
  align-items: flex-end;
}

hr.header-separator {
  margin-bottom: 1em;
}

hr.section-separator {
  margin: 1em 0;
}

.info-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.stat-badge {
  display: flex;

  span {
    background-color: $accentCol;
    color: black;
    font-weight: bold;
    padding: 0.2em 0.5em;
  }

  span:first-child {
    background-color: #333;
    color: white;
  }
}

@include smallScreen {
  .journal-stats {
    text-align: center;
  }

  .info-stats {
    justify-content: center;
  }
}
