$primaryCol: #2f2f2f;
$secondaryCol: #01e733;

$bgCol: #505050;

$errorCol: #ff1919;
$warningCol: #ffe15b;

$accentCol: #ffc014;
$accent2Col: #ff3d5d;

$skr: #ff5100;
$twr: #ffbb00;

$animDuration: 100ms;
$animType: ease-out;