$primaryCol: #2c2c2c;
$secondaryCol: #01e733;

$bgCol: #4d4d4d;
$bgLigtherCol: #5b5b5b;

$errorCol: #ff1919;
$warningCol: #ffe15b;

$accentCol: #ffc014;
$accent2Col: #ff3d5d;

$skr: #ff5100;
$twr: #ffbb00;

$animDuration: 150ms;
$animType: ease-in-out;