@import './styles/responsive.scss';
@import './styles/variables.scss';
@import './styles/global.scss';
@import './styles/scenery_status.scss';

// VUE ROUTE CHANGE ANIMATION
.view-anim {
  &-enter-from,
  &-leave-to {
    opacity: 0.02;
  }

  &-enter-active,
  &-leave-active {
    transition: all $animDuration $animType;
    min-height: 100%;
  }
}

.route {
  margin: 0 0.2em;

  &-active {
    color: $accentCol;
    font-weight: bold;
  }
}

// APP
.app {
  background: $bgCol;
  color: white;

  overflow: hidden;

  font-size: 1rem;

  @include smallScreen() {
    font-size: calc(0.3rem + 2vw);
  }
}

// CONTAINER
.app_container {
  display: flex;
  flex-flow: column;

  min-width: 0;
  min-height: 100vh;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;

    padding: 0 0.5em;
  }

  footer {
    flex: 0 1 0.2em;
  }
}

.warning {
  background-color: firebrick;
  text-align: center;
  padding: 0.5em 0.4em;
  max-width: 1100px;
  margin: 0 auto;

  border-radius: 0 0 1em 1em;
}

// Error icon
.wip-alert {
  padding: 0 0.5em;
  text-align: center;
}

.icon-error {
  width: 13em;
  margin: 0.5em 0;
}

// HEADER
.app_header {
  display: flex;
  justify-content: center;

  position: relative;
  background-color: $primaryCol;
}

.header {
  &_container {
    display: flex;
    justify-content: center;
    position: relative;

    width: 1350px;
    padding: 0.5em 0.3em 0 0.3em;
    border-radius: 0 0 1em 1em;
  }

  &_brand {
    img {
      width: 22em;
    }
  }

  &_info {
    display: flex;
    justify-content: space-between;

    font-size: 1.25em;

    margin: 0 0.3em;
    padding: 0.2em;
  }

  &_links {
    display: flex;
    justify-content: center;

    border-radius: 0.7em;

    font-size: 1.25em;
    padding: 0.5em;
  }

  &_icons {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.5em 0.5em;

    @include smallScreen() {
      right: auto;
      left: 0.75em;
      padding: 0;

      align-items: center;
    }
  }
}

// ICONS
.icons {
  position: relative;

  &-top {
    img {
      width: 2.5em;

      cursor: pointer;
    }

    margin-bottom: 0.5em;
  }

  &-bottom {
    display: flex;

    a {
      margin-left: 0.6em;
      user-select: none;
    }

    img {
      width: 1.9em;
    }

    @include smallScreen() {
      flex-direction: column;

      a {
        margin: 0.25em 0;
      }
    }
  }
}

// COUNTER
.info_counter {
  display: flex;
  align-items: center;

  span {
    margin: 0 0.15em;
  }

  img {
    width: 1.35em;
  }

  .region {
    color: paleturquoise;
    font-weight: bold;
  }
}

// FOOTER
footer.app_footer {
  max-width: 100%;
  padding: 0.5em;

  z-index: 10;

  background: #111;
  color: white;

  text-align: center;
  vertical-align: middle;
}
