@import './styles/responsive.scss';
@import './styles/variables.scss';
@import './styles/global.scss';
@import './styles/scenery_status.scss';

// VUE ROUTE CHANGE ANIMATION
.view-anim {
  &-enter-from,
  &-leave-to {
    opacity: 0.02;
  }

  &-enter-active,
  &-leave-active {
    transition: all $animDuration $animType;
    min-height: 100%;
  }
}

.modal-anim {
  &-enter-active,
  &-leave-active {
    transition: all $animDuration $animType;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(-25%);
    opacity: 0;
  }
}

.route {
  margin: 0 0.2em;

  &-active,
  &[data-active='true'] {
    color: $accentCol;
    font-weight: bold;
  }
}

// APP
#app {
  color: white;
  font-size: 1rem;

  @include smallScreen() {
    font-size: calc(0.5rem + 1.3vw);
  }
}

// CONTAINER
.app_container {
  display: flex;
  flex-flow: column;

  min-height: 100vh;

  header {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;

    padding: 0 0.5em;
  }

  footer {
    flex: 0 1 0.2em;
  }
}

.warning {
  background-color: firebrick;
  text-align: center;
  padding: 0.5em 0.4em;
  max-width: 1100px;
  margin: 0 auto;

  border-radius: 0 0 1em 1em;
}

// FOOTER
footer.app_footer {
  max-width: 100%;
  padding: 0.5em;

  z-index: 10;

  background: #111;
  color: white;

  text-align: center;
  vertical-align: middle;
}
